.professional-photo{
    transform: translate(0, 3em);
    margin: 0 auto;
    display: block;
    object-fit: cover;
    max-width: 90%;
    max-height: 80vh;
}

.home-text{
    height: 80vh;
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 1px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    transform: translate(10vh, 0);
}

.background_image {
    z-index: -10000;
    position: fixed;
    opacity: 0.3;
    top: -.1em;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.lever {
    margin: 0 0;
}

.night-day {
  width: 150px;
  height: 40px;
}

